<div id='container' ng-controller="MainController">
  <input type='checkbox' ng-model='partial' ng-change='update()'>Allow partial matches
  <button ng-click="advanced=!advanced">{{advanced ? 'Hide' : 'Show'}} advanced</button>
  <button ng-click='reset()'>Reset all filters</button>
  <input type='checkbox' ng-model='gold' ng-change='update()'>Show golden card images
  <br/>
  Card name: <input type="text" ng-model="name" ng-change="update()">
  <div ng-show="advanced">
    Card type:
    <input type='radio' name='type' value='Minion' ng-model='type' ng-change='update()'>Minion
    <input type='radio' name='type' value='Spell' ng-model='type' ng-change='update()'>Spell
    <input type='radio' name='type' value='Weapon' ng-model='type' ng-change='update()'>Weapon
    <input type='radio' name='type' value='' ng-model='type' ng-change='update()'>Any<br/>
    <div ng-show='type==="Minion" || type==="Weapon"'>
      Attack:
      <input type='number' ng-model='attack' ng-change='update()'>
      <select ng-model='attackComparator' ng-change='update()'>
        <option>=</option>
        <option>></option>
        <option><</option>
      </select>
      <div ng-show='type==="Minion"'>
        Health:
        <input type='number' ng-model='health' ng-change='update()'>
        <select ng-model='healthComparator' ng-change='update()'>
          <option>=</option>
          <option>></option>
          <option><</option>
        </select>
      </div>
      <div ng-show='type==="Weapon"'>
        Durability:
        <input type='number' ng-model='durability' ng-change='update()'>
        <select ng-model='durabilityComparator' ng-change='update()'>
          <option>=</option>
          <option>></option>
          <option><</option>
        </select>
      </div>
    </div>
    Cost:
    <input type='number' ng-model='cost' ng-change='update()'>
    <select ng-model='costComparator' ng-change='update()'>
      <option>=</option>
      <option>></option>
      <option><</option>
    </select>
    <br/>
    <table>
      <thead>Set: <input type='checkbox' ng-model='standard' ng-change='standardSets(standard)'>Standard
      </thead>
      <tbody>
        <tr>
          <td><input type='checkbox' ng-model='sets.Basic' ng-change='update()'>Basic
          <td><input type='checkbox' ng-model='sets.Classic' ng-change='update()'>Classic
        </tr>
        <tr>
          <td><input type='checkbox' ng-model='sets.Naxxramas' ng-change='update()'>Naxxramas
          <td><input type='checkbox' ng-model='sets["Goblins vs Gnomes"]' ng-change='update()'>Goblins vs Gnomes
        </tr>
        <tr>
          <td><input type='checkbox' ng-model='sets["Blackrock Mountain"]' ng-change='update()'>Blackrock Mountain
          <td><input type='checkbox' ng-model='sets["The Grand Tournament"]' ng-change='update()'>The Grand Tournament
        </tr>
        <tr>
          <td><input type='checkbox' ng-model='sets["The League of Explorers"]' ng-change='update()'>The League of Explorers
          <td><input type='checkbox' ng-model='sets["Whispers of the Old Gods"]' ng-change='update()'>Whispers of the Old Gods
        </tr>
        <tr>
          <td><input type='checkbox' ng-model='sets.Karazhan' ng-change='update()'>Karazhan
        <tr>
          <td><input type='checkbox' ng-model='sets.Promo' ng-change='update()'>Promo
          <td><input type='checkbox' ng-model='sets.Reward' ng-change='update()'>Reward
        </tr>
      </tbody>
    <br/>
    <table>
      <thead>Class:</thead>
      <tbody>
        <tr>
          <td><input type='checkbox' ng-model='classes.Neutral' ng-change='update()'>Neutral</td>
          <td><input type='checkbox' ng-model='classes.Druid' ng-change='update()'>Druid</td>
        </tr>
        <tr>
          <td><input type='checkbox' ng-model='classes.Hunter' ng-change='update()'>Hunter</td>
          <td><input type='checkbox' ng-model='classes.Mage' ng-change='update()'>Mage</td>
        </tr>
        <tr>
          <td><input type='checkbox' ng-model='classes.Paladin' ng-change='update()'>Paladin</td>
          <td><input type='checkbox' ng-model='classes.Priest' ng-change='update()'>Priest</td>
        </tr>
        <tr>
          <td><input type='checkbox' ng-model='classes.Rogue' ng-change='update()'>Rogue</td>
          <td><input type='checkbox' ng-model='classes.Shaman' ng-change='update()'>Shaman</td>
        </tr>
        <tr>
          <td><input type='checkbox' ng-model='classes.Warlock' ng-change='update()'>Warlock</td>
          <td><input type='checkbox' ng-model='classes.Warrior' ng-change='update()'>Warrior</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div ng-repeat="card in data | orderBy: ['cost','name']">   
    <img ng-src='{{gold ? card.imgGold : card.img}}' alt={{card.name}}>
  </div>
</div>