<div id='container' ng-controller="MainController">
  <input type='checkbox' ng-model='partial' ng-change='update()'>Allow partial matches
  <button ng-click="advanced=!advanced">{{advanced ? 'Hide' : 'Show'}} advanced</button>
  <button ng-click='reset()'>Reset all filters</button>
  <input type='checkbox' ng-model='gold' ng-change='update()'>Show golden card images
  <br/>
  Card name: <input type="text" ng-model="name" ng-change="update()">
  <div ng-show="advanced">
    Card type:
    <input type='radio' name='type' value='Minion' ng-model='type' ng-change='update()'>Minion
    <input type='radio' name='type' value='Spell' ng-model='type' ng-change='update()'>Spell
    <input type='radio' name='type' value='Weapon' ng-model='type' ng-change='update()'>Weapon
    <input type='radio' name='type' value='' ng-model='type' ng-change='update()'>Any<br/>
    Cost:
    <input type='number' ng-model='cost' ng-change='update()'>
    <!-- <select ng-model='costComparator'>
      <option>=</option>
      <option>></option>
      <option><</option>
    </select> -->
    <br/>
    Set:
    <select ng-model='set' ng-change='update()'>
      <option>Basic</option>
      <option>Classic</option>
      <option>Naxxramas</option>
      <option>Goblins vs Gnomes</option>
      <option>Blackrock Mountain</option>
      <option>The Grand Tournament</option>
      <option>The League of Explorers</option>
      <option>Whispers of the Old Gods</option>
      <option>Karazhan</option>
      <option>Promo</option>
      <option>Reward</option>
    </select>
  </div>
  <div ng-repeat="card in data | orderBy: 'cost'">   
    <img ng-src='{{gold ? card.imgGold : card.img}}' alt={{card.name}}>
  </div>
</div>